<header class="header">
    <!--solo se ve en pantallas grandes-->
    <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
        <div class="row">
            <div class="col-lg-2 col-md-2  ml-2">
                <a class="navbar-brand" routerLink="**">
                    <img class="img-fluid" src="assets/img/logo.jpg">
                </a>
            </div>
            <div class="col-lg-5 col-md-7 row">
                <nav class="navbar navbar-expand-lg navbar-expand-md navbar-custom col-12">
                    <ul class="navbar-nav col-12">
                        <li class="nav-item col-3">
                            <a class="nav-link" routerLink="obraGruesa">ObraGruesa</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" routerLink="obraFina">ObraFina</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" routerLink="herramientas">Herramientas</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link" routerLink="maquinaria">Maquinaria</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-5 col-md-3 my-2">
                <div class="row mt-3">
                    <div class="col-lg-8">
                        <form class="form-inline">
                            <input class="form-control col-lg-9 mr-lg2" type="search" placeholder="Search">
                            <button class="btn boton col-lg-3" type="submit">
                                <img class="img-fluid px-lg-3 px-md-0" src="assets/img/buscar.png">
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn boton col-lg-6 col-md-6 ">
                            <img class="img-fluid px-lg-2 px-md-0" routerLink="carrito" src="assets/img/carrito.png" alt="">
                        </button>
                        <button type="button" class="btn boton col-lg-6 col-md-6 ">
                            <img class="img-fluid px-lg-2 px-md-0" routerLink="login" src="assets/img/usuario.png" alt="">
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="d-none d-sm-none d-md-block d-lg-none d-xl-none col-lg-5 col-md-3 my-2">
                <div class="row mt-2">
                    <div class="col-lg-12 my-3">
                        <button class="btn col-md-4 boton" type="submit">
                            <img class="img-fluid px-2" src="assets/img/buscar.png" alt="">
                        </button>
                        <button type="button" class="btn col-md-4 boton">
                            <img class="img-fluid" src="assets/img/carrito.png" alt="">
                        </button>
                        <button type="button" class="btn col-md-4 boton">
                            <img class="img-fluid" src="assets/img/usuario.png" alt="">
                        </button>
                    </div>
                </div>
                
            </div>
          
        </div>
        
    </div>

    <!--solo se ve en pantallas pequeñas-->

    <div class="d-md-none d-lg-none d-xl-none">
        <div class="row my-2">
            <div class="container col-2">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler my-2" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo02">
                        <span class="navbar-toggler-icon">
                            <i class="fas fa-bars" style="color:#000000; font-size:28px;"></i>
                        </span>
                    </button>
                </nav>
            </div>
            <div class="col-5">
                <a class="navbar-brand" href="#"><img class="ml-4 img-fluid" src="assets/img/logo.jpg"></a>
            </div>
            <div class="col-5">
                <div class="btn-group col-12 mx-auto py-3">
                    <button type="button" class="btn col-4 p-0 mr-1 boton">
                        <img class="img-fluid p-1" src="assets/img/buscar.png" alt="">
                    </button>
                    <button type="button" class="btn p-0 col-4 mx-1 boton">
                        <img class="img-fluid" src="assets/img/carrito.png" alt="">
                    </button>
                    <button type="button" class="btn p-0 col-4 ml-1 boton">
                        <img class="img-fluid" src="assets/img/usuario.png" alt="">
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="collapse navbar-collapse d-md-none d-lg-none d-xl-none" id="navbarTogglerDemo02">
        <nav class="navbar-custom bg-light">
            <ul class="navbar-nav ml-4 mt-2">
                <li class="nav-item my-lg-4 ">
                    <a class="nav-link " routerLink="obraGruesa">Obra Gruesa</a>
                </li>
                <li class="nav-item my-lg-4">
                    <a class="nav-link ">Obra Fina</a>
                </li>
                <li class="nav-item my-lg-4">
                    <a class="nav-link ">Herramientas</a>
                </li>
                <li class="nav-item my-lg-4 mr-lg-4">
                    <a class="nav-link ">Maquinaria</a>
                </li>
            </ul>
        </nav>
    </div>
</header>